@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <span>Hello, @context.User.Identity?.Name!</span>
                    <button class="btn btn-link" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
            </CascadingAuthenticationState>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void Logout()
    {
        NavigationManager.NavigateTo("authentication/logout", forceLoad: true);
    }
}
